@model HodApiFront.Models.MapGuildChat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MapGuildChat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chat.TextMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chat.TextMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guild.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guild.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MapGuildChatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
