@model IEnumerable<HodApiFront.Models.MapGuildChat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chat.TextMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guild.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chat.TextMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guild.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MapGuildChatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MapGuildChatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MapGuildChatId })
        </td>
    </tr>
}

</table>
