@model HodApiFront.Models.MapPlayerPurchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MapPlayerPurchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase.PurchaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase.PurchaseId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MapPlayerPurchaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
